@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  background-color: rgba(23, 60, 161, 0.463);
  width: 5px;
  transition: background-color 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

html::-webkit-scrollbar:hover {
  background-color: rgba(23, 60, 161, 0.609);
}

html::-webkit-scrollbar-thumb {
  background-color: rgba(8, 22, 69, 0.799);
  border-radius: 9999px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: rgba(2, 13, 49, 0.823);
}

body.dark {
  color-scheme: dark;
  @apply min-h-screen bg-gradient-to-tl from-slate-900 to-black text-slate-50;
}
body {
  color-scheme: light;
  @apply min-h-screen bg-gradient-to-br from-slate-50 to-slate-300 text-slate-950;
}
